.map-container {
  height: 100vh;
  width: 100vw;
}

.p {
  font-size: 12px;
}

.stations {
  position: absolute;
  top: 50px;
  left: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  background-color: #E7E9EE;
  border-radius: 10px;
}