.App {
}
/*
nav{
    position: fixed;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 1;
    z-index: 5;
    bottom: 0;
    background-color: #FAF0E6	;
    height: 80px;
    width: 100vw;
    text-align: center;
    padding-top: 40px;
}

.home{
}

.about{
}*/

